.body {
  font size:23px;
}





/* --- set location of page directory --------------------------------------- */
.TopBar {
  border-radius: 23px;
  width: 100%;
  background-color: AliceBlue  ;
  position: relative;z-index:1000;
  float:  left;
  border-style: solid;
  border-width: 2px;
}

/* --- set location of page directory --------------------------------------- */
.Logo {
  color: White;
  float: left;
  padding: 10px;
}

.Logo2 {
  color: White;
  float: right;
  padding: 10px;
}

.a {
  text-align: center;
}
/* --- set location of page directory --------------------------------------- */
.contentRight {
  border-radius: 25px;
  margin: 20px;
  float: right;
  width: 15%;
  height: 325px;
  color: White;
  padding: 5px;
  background-color: rgba(0,0,0,0.2);
}

/* --- set location of page directory --------------------------------------- */
.contentLeft {
  margin: 20px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 3px;
    font-size:18px;
    text-decoration: none;
    color: initial;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Add styles to the form container */
.form-container  {
  padding: 10px;
  background-color: whitesmoke;


    }

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width:100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
  }

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  width:100%;
  background-color: white;
  outline: none;
  }
/* .style select[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.style select[type=text]:focus{
  background-color: #ddd;
  outline: none;
} */

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: Gray;
  font-size:18px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  }

  table.a{
    table-layout: auto;
    width: 100%;
  }

thead,td {
    border: 1px solid black;
}
