{%extends 'Template.html'%}
 {%block mainBlock%}

<button class="open button" onclick="openlogin()">Login</button>

<div class="form-picker">

  <form action="/Survey" method="GET" id="popup" class="form-container">

      <label for="email"><br>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email">

      <label for="ps"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="ps">

      <button type="submit">Login <a href "/Survey"</a> </button>

        <button type="button" class="cancelbtn" onclick="CancelForm()">Cancel</button>
</div>
</form>


<script>
    // Get the popup
  function openlogin(){
  document.getElementById('popup').style.display="block";
}
  function CancelForm(){
    document.getElementById('popup').style.display="none";
  }

</script>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Register</button>


<div id="id01" class="modal">

  <form class="modal-content" method="GET">
    <div>
  <span onclick="document.getElementById('id01').style.display='block'" class="close" title="Close Modal">&times;</span>
   </div>

   <div class="pick">
        <label for="First Name"><b>First Name</b></label>
        <input type="text" placeholder="Enter your First name" name="First Name">

        <label for="Surname"><b>Surname</b></label>
        <input type="text" placeholder="Enter your Surname" name="Surname">

        <label for="Email"><b>Email</b></label>
        <input type="Email" placeholder="Enter your Email Address" name="Email">

        <label for="psw"><b>Password</b></label>
        <input type="Password" placeholder="Create a Password" name="psw">

        <label for="Age"><b>Age</b></label>
        <input type="number" placeholder="Enter your Age" name="Age" value="">

        <select name="Gender"><b>Gender</b>
        <option value="None selected">Please use the down arrow to select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Not Mention"> Not Mention</option>
        </select>
        </div>

        <div class= "buttonfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="close">Cancel</button>
          <button type="submit" class="Register">Submit</a> </button>
       </div>
    </form>
  </div>

  <script>
  // Get the modal
  var modal = document.getElementById('id02');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>

{%endblock%}
