<!--  this is extending the template.html , which contains the nav bar and css to view on this page -->
{% extends 'Template.html' %}
{%block mainBlock%}
<!--- Thre is a title that instructs Clients to click on patient id to view thier information containing survey and Client details--->
<centre> <h1>Click on the PatientID of a patient to view their information</h1> </centre>

<!-- Give headings to the data shown below-->
<table border - 1 class="a">
  <tr>
      <th> PatientID </th>
      <th> FirstName </th>
      <th> Surename </th>
      <th> Email </th>
      <th> Age </th>
      <th> Gender </th>
  </tr>

  {% for row in dispat %}

<!-- here is displaying data from the databse to database-->  <tr>
      <td><a href="/Select/{{row[0]}}">{{row[0]}}</a></td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td>{{row[5]}}</td>
  </tr>
  {% endfor %}
</table>
{%endblock%}
