{%extends 'Template.html'%}
{%block mainBlock%}

<!--- A navigation bar for the python section ---------------------------->
<ContentRight class="contentRight"><center>
  <h2>Survey progress</h2><br>
  <a href="/"><b>Log out</b></a><br>
  <a href="/Survey/1"><b>Return to survey start</b></a><br><br>
</center></ContentRight>

<article class="contentLeft">

  <form action=/Thankyou method="get">
  {% for Question in questionData %}

      <h3> {{ Question[0]}})  {{ Question[1]}} </h3>

        {% if Question[2] == "Text" %}
          <textarea rows="5" cols = "50" name = "text">Response here</textarea>

        {% else %}
          <div style = "color:blue">
          {% for Answer in answerData %}
            {% if Answer[3] == Question[0] %}
              <input type="checkbox" name="" value=""> {{Answer[1]}}<br>
            {% endif %}
          {% endfor %}
        {% endif %}
        </div>

    {% endfor %}
    <br><br><button>Submit</button>
  </form>

{%endblock%}
