{%extends 'Template.html'%}
{%block mainBlock%}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<!--- A navigation bar for the python section ---------------------------->
<ContentRight class="contentRight"><center>
  <h2>Survey progress</h2>
  <progress value="{{questionData[0][3]}}" max="15"></progress><br><br><br><Br>
  <a href="/Survey/0" class="button"><b>Return to survey start</b></a><br><br>
  <a href="/" class="button"><b>Log out</b></a><br>


</center></ContentRight>

<article class="contentLeft">

  <form action= /Survey/{{questionNumber}} method="get">
  {% for Question in questionData %}

      <h3> {{ Question[0]}})  {{ Question[1]}} </h3>

        {% if Question[2] == "Text" %}
          <textarea rows="5" cols = "50" name = "text" placeholder="Response here"></textarea>

        <!-- {% if Question[2] == "Single" %}
          <div style = "color:blue">
          {% for Answer in answerData %}
            {% if Answer[3] == Question[0] %}
              <input type="radio" name="{{ Question[0]}}" value="{{Answer[1]}}"> {{Answer[1]}}<br>
            {% endif %}
          {% endfor %}
        {% endif %}  -->

        {% else %}
          <div style = "color:blue">

          {% for Answer in answerData %}
            {% if Answer[3] == Question[0] %}
              <input type="checkbox" name={{Question[0]}} value={{Answer[1]}}> {{Answer[1]}}<br>
            {% endif %}
          {% endfor %}
        {% endif %}
        </div>


    {% endfor %}
    <br><button>Continue</button>

  {% if questionNumber > 1 %}
    <br><a href="/SurveyB/{{questionNumber}}" class="button">Back</a>
  {% endif %}
  </form>

  <script>
  $('input[type="checkbox"]').on('change', function() {
    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
  });
  </script>

{%endblock%}
