{%extends 'Template.html'%}
{%block mainBlock%}

<!--- A navigation bar for the python section ---------------------------->
<ContentRight class="contentRight"><center>
  <h2>Survey progress</h2>
  <progress value="{{questionData[0][3]}}" max="15"></progress><br><br><br><Br>
  <a href="/Survey/0" class="button"><b>Return to survey start</b></a><br><br>
  <a href="/" class="button"><b>Log out</b></a><br>

</center></ContentRight>

<article class="contentLeft">

  <form action=/Thankyou method="get">
  {% for Question in questionData %}

      <h3> {{ Question[0]}})  {{ Question[1]}} </h3>

        <div style = "color:blue">
        {% for Answer in answerData %}
          {% if Answer[3] == Question[0] %}
            <input type="checkbox" name="group1" value=""> {{Answer[1]}}<br>
          {% endif %}
        {% endfor %}

        </div>

    {% endfor %}
    <br><br><button>Submit</button>
    <br><a href="/SurveyB/{{questionNumber}}" class="button">Back</a>
  </form>

  <script>
  $('input[type="checkbox"]').on('change', function() {
    $('input[name="' + this.name + '"]').not(this).prop('checked', false);
  });
  </script>

{%endblock%}
