<!-- Survey to display question forms ----------------------------------------->
<!-- Created 14/10/2018; Last modified 11/12/2018 ----------------------------->
{%extends 'Template.html'%}
{%block mainBlock%}

<!-- header importing style sheet --------------------------------------------->
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<!-- Side progress bar and directory ------------------------------------------>
<ContentRight class="contentRight"><center>
  <h2 style="color:White;font-size:30px;">Survey progress</h2>
  <progress value="{{questionData[0][3]}}" max="15"></progress><br><br><br><Br>
  <a href="/Survey/0" class="button">Return to survey start</a><br><br>
  <a href="/" class="button">Log out</a><br>
</center></ContentRight>

<!-- Main content for the page ------------------------------------------------>
<article class="contentLeft">

  <!-- Get form, when reloaded next set of questions is retrived -------------->
  <!-- Loops through question passed ------------------------------------------>
  <form action= /Survey/{{questionNumber}} method="get" >
  {% for Question in questionData %}

      <!-- Output question number and text ------------------------------------>
      <h3> {{ Question[0]}})  {{ Question[1]}} </h3>

        <!-- For text entry question, set as input ---------------------------->
        {% if Question[2] == "Text" %}
          <textarea rows="5" cols = "50" name = {{Question[0]}} placeholder="Response here"></textarea>

        <!-- If question type is single, set radio as input type -------------->
        {% elif Question[2] == "Single" %}
          <div style = "color:blue">
            {% for Answer in answerData %}
              {% if Answer[3] == Question[0] %}
                <input type="radio" name={{Question[0]}} value="{{Answer[0]}}"> {{Answer[1]}}<br>
              {% endif %}
            {% endfor %}

        <!-- If question type is slider, create slider ------------------------>
        {% elif Question[2] == "Slider" %}
          <div class="slidecontainer">
            0<input type="range" min="0" max="8" class="slider" id="myRange">8+
            <p>Hours:  <span id="demo"></span></p>
          </div>

        <!-- If question type is Multiple, set check box as question type ----->
        {% else %}
          <p>Please tick <b>all</b> options that apply</p>
          <div style = "color:blue">
          {% for Answer in answerData %}
            {% if Answer[3] == Question[0] %}
              <input type="checkbox" name={{Question[0]}}_{{Answer[0]}} value={{Answer[0]}}> {{Answer[1]}}<br>
            {% endif %}
          {% endfor %}
        {% endif %}
        </div>

    <!-- Final page submit, get next set of questions ------------------------->
    {% endfor %}
    <br><button class="nav">Continue</button>

  <!-- Add return to last page if not at survey start ------------------------->
  {% if questionNumber > 1 %}
    <br><a href="/SurveyB/{{questionNumber}}" class="nav">Back</a>
  {% endif %}
  </form>
</article>

  <!-- Set javascript for slider --------------------- ------------------------>
  <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
  </script>
{%endblock%}
