{%extends 'Template.html'%}


{%block mainBlock%}
<h2> B: Back Pain and work </h2>
<article class="contentLeft">
  {% for Question in questionData %}
      <h3> {{ Question[0]}})  {{ Question[1]}} </h3>

      <form action="/Template.html" method="get">

        <div style = "color:blue">
          {% for Answer in answerData %}
            {% if Answer[3] == Question[0] %}
              <input type="checkbox" name="" value=""> {{Answer[1]}} <br>
            {% endif %}
          {% endfor %}
        </div>
      </form>

  {% endfor %}

{%endblock%}
