<!-- Template for templating -------------------------------------------------->
<!-- Created 11/10/2018; Last modified 11/12/2018 ----------------------------->
<!DOCTYPE html>

<html>
<!-- header importing style sheet --------------------------------------------->
<head>
  <title> Survey </title>
  <link rel="Stylesheet" type="text/css" href="../static/styledocs/css/Stylesheet.css">
</head>

<!-- Include logos in a wrapper ----------------------------------------------->
<body>
  <top class="TopBar">
      <Logo class="Logo">
        <img src="../static/Media/CULogo.png" height = "70px">
      </Logo>
      <Logo class="Logo2">
        <img src="../static/Media/ARULogo.png" height = "70px">
      </Logo>
      <div class="a">
        <h1>BACKonLINE™</h1>
      </div>
  </top>

  <!-- Content of page allowing for Jinja templating -------------------------->
  <content class="content">

    <ContentLeft class="contentLeft">
      {% block mainBlock%}Page under construction. {%endblock%}
    </article></ContentLeft>

  </content>
</body>
</html>
