<!-- Home page 11/10/2018 -------------------------------------------------->
<!DOCTYPE html>

<html>
<!-- header importing style sheet       ----------------------------------------->

<head>
  <title> Survey </title>
  <link rel="Stylesheet" type="text/css" href="../static/styledocs/css/Stylesheet.css">
</head>

<body>
  <top class="TopBar">
    <!-- Main nav bar --------------------------------------------------------->
      <Logo class="Logo">
        <img src="../static/Media/CULogo.png" height = "70px">
        <img src="../static/Media/ARULogo.png" height = "70px">
      </Logo>
      <Logo class="Logo">
        <h1>BACKonLINE™</h1>
      </Logo>

  </top>

  <!-- Content of page ------------------------------------------------------>
  <content class="content">

    <!--- A navigation bar for the python section ---------------------------->
    <ContentRight class="contentRight"><center>
      <h2>Survey directory</h2>
      <a href="SurveyPainBehaviour.html"><b>A: Pain behaviour</b></a><br><br>
      <a href="SurveyBackPainAndWork.html"><b>B: Back pain and work</b></a><br><br>
      <a href="SurveyBackPainAndLifestyle.html"><b>C: Back pain and lifestyle:</b></a><br><Br>
      <a href="SurveyPerceptionOfBackPain.html"><b>D: Perception of back pain:</b></a><br>
    </center></ContentRight>

    <ContentLeft class="contentLeft"><center>
    <h2> A: Pain behaviour </h2>
    <article class="contentLeft">
      {% for Question in questionData %}
        {% if Question[0] == 1 %}
          <h3> {{ Question[0]}})  {{ Question[1]}} </h3>
          <form action="/Template.html" method="get">
            <input type="checkbox" name="" value=""> {{answerData[0][1]}} <br>
            <input type="checkbox" name="" value="" checked> {{answerData[1][1]}} <br>
            <input type="checkbox" name="" value="" checked> {{answerData[2][1]}} <br>
            <!-- <input type="submit" value="Submit"> -->
          </form>
        {% endif %}
      {% endfor %}

    </article></center></ContentLeft>

  </content>

</body>

</html>
