<!-- Survey to display Thank you upon completing the survey ------------------->
<!-- Created 14/10/2018; Last modified 11/12/2018 ----------------------------->
{%extends 'Template.html'%}

<!-- Display the text and add navigation -------------------------------------->
{%block mainBlock%}
  <h1> Thank you</h1>
  <p style="font-size:20px;" > You have successfully completed and submitted the survey</p>
  <a href="/Welcome" class="nav">Return to welcome page</a><br>
  <a href="/" class="nav">Log out</a><br>
{%endblock%}
