{%extends 'Template.html'%}

{%block mainBlock%}
<h1> Welcome to Backonline</h1>
<p> Here you can answer questions concerning your pains </p>
<p> This Survey works by you ticking/selecting the box appeared next to the answer text and clciking continue button to move forward and back button , if you wanted to go back and make changes.</p>
<button style="text-decoration: none" class="btn"> <a href = "/Survey/0" > click here to start survey </a> </button>
<a href="/" class="btn">Log out</a>
{%endblock%}
