<!-- page after login to welcome clients -------------------------------------->
<!-- Created 14/10/2018; Last modified 11/12/2018 ----------------------------->
{%extends 'Template.html'%}

<!-- dispay text and add navigation ------------------------------------------->
{%block mainBlock%}
  <h1> Welcome to Backonline</h1>
    <p> Here you can answer questions concerning your pains </p>
    <p> <strong>Instruction for reminder:</strong>This Survey works by selecting the box that is  appeared next to the answer text and clciking continue button to move forward and back button , if you wanted to go back and make changes.</p>
    <button  class="nav"<a href = "/Survey/0"> Click here to start survey </a> </button><br>
    <a href="/" class="navi">Log out</a><br>
{%endblock%}
